flight_computer2.json
[{"id":"f9338461.666e08","type":"subflow","name":"simulateCSV","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"f8d31af4.244d58"}]}],"out":[{"x":940,"y":320,"wires":[{"id":"46679aea.3e21c4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"41bae374.92150c","type":"csv","z":"f9338461.666e08","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"1","strings":true,"include_empty_strings":"","include_null_values":"","x":690,"y":220,"wires":[["314014a7.9c0d9c"]]},{"id":"d9669d9d.a2204","type":"file in","z":"f9338461.666e08","name":"","filename":"/home/pi/telemetry_smaller.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":190,"y":220,"wires":[["75b61039.fe7b2"]]},{"id":"75b61039.fe7b2","type":"delay","z":"f9338461.666e08","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":220,"wires":[["41bae374.92150c"]]},{"id":"314014a7.9c0d9c","type":"change","z":"f9338461.666e08","name":"","rules":[{"t":"delete","p":"payload.col1","pt":"msg"},{"t":"move","p":"payload.col2","pt":"msg","to":"payload.altitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":360,"wires":[["46679aea.3e21c4"]]},{"id":"46679aea.3e21c4","type":"function","z":"f9338461.666e08","name":"","func":"var maxAltitude = flow.get('simulatedCSVMaxAltitude') || 0;\n\nvar payload = msg.payload;\nvar altitude = msg.payload.altitude;\n\nif (altitude > maxAltitude)\n    maxAltitude = altitude;\n\nflow.set('simulatedCSVMaxAltitude', maxAltitude);\nmsg.payload.maxAltitude = maxAltitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":360,"wires":[[]]},{"id":"f8d31af4.244d58","type":"function","z":"f9338461.666e08","name":"","func":"var maxAltitude = 0;\nflow.set('simulatedCSVMaxAltitude', maxAltitude);\nmsg.payload.maxAltitude = maxAltitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":40,"wires":[["d9669d9d.a2204"]]},{"id":"2a905234.ff37ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6b897dfa.51c7b4","type":"debug","z":"2a905234.ff37ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1630,"y":180,"wires":[]},{"id":"6f3a83.ebfc757c","type":"inject","z":"2a905234.ff37ae","name":"Timer","props":[{"p":"payload"}],"repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":260,"wires":[["71ef638c.36ec4c"]]},{"id":"2af56a82.fb3aa6","type":"Bme280","z":"2a905234.ff37ae","name":"","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":560,"y":260,"wires":[["dbba3f63.157e6"]]},{"id":"18cc5a51.69ab96","type":"influxdb out","z":"2a905234.ff37ae","influxdb":"57cb3dce.23aff4","name":"grafana","measurement":"rocket","precision":"ms","retentionPolicy":"","x":1640,"y":260,"wires":[]},{"id":"6175626d.74abac","type":"ui_button","z":"2a905234.ff37ae","name":"","group":"42d9017c.541cb","order":1,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"reset","x":130,"y":180,"wires":[["8e1364dd.7a6748"]]},{"id":"d337dac6.3148c8","type":"function","z":"2a905234.ff37ae","name":"Altitude","func":"var maxAltitude = flow.get('maxAltitude') || 0;\n\nvar payload = msg.payload;\n\nvar sealevelPressure = payload.sealevelPressure;\nvar pressure = payload.pressure_hPa; // in Si units for Pascal\n\nvar altitude = 44330.0 * (1.0 - Math.pow(pressure / sealevelPressure, 0.1903));\n\nif (altitude > maxAltitude)\n    maxAltitude = altitude;\n\nflow.set('maxAltitude', maxAltitude);\n\nmsg.payload.altitude = altitude;\nmsg.payload.maxAltitude = maxAltitude;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":260,"wires":[["48b37098.af022","145360b3.dea67f","d787ff51.fc955"]]},{"id":"9fae641d.a24cd8","type":"ui_gauge","z":"2a905234.ff37ae","name":"","group":"42d9017c.541cb","order":2,"width":0,"height":0,"gtype":"gage","title":"Max Altitude","label":"metres","format":"{{value | number:2 }}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1630,"y":380,"wires":[]},{"id":"48b37098.af022","type":"change","z":"2a905234.ff37ae","name":"","rules":[{"t":"move","p":"payload.maxAltitude","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":380,"wires":[["9fae641d.a24cd8"]]},{"id":"8814ee17.a048","type":"function","z":"2a905234.ff37ae","name":"Set Sea Level","func":"var payload = msg.payload;\nvar sealevelPressure = flow.get(\"sealevelPressure\") || 0.0;\n\nif (sealevelPressure == 0.0) {\n    flow.set(\"sealevelPressure\", payload.pressure_hPa);\n    msg.payload.sealevelPressure = payload.pressure_hPa;\n} else {\n    msg.payload.sealevelPressure = sealevelPressure;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":260,"wires":[["d337dac6.3148c8"]]},{"id":"8e1364dd.7a6748","type":"function","z":"2a905234.ff37ae","name":"Reset Sea Level","func":"flow.set(\"sealevelPressure\", 0.0);\nflow.set(\"maxAltitude\", 0.0);\nmsg.payload.sealevelPressure = 0.0;\nmsg.payload.maxAltitude = 0.0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":180,"wires":[["2af56a82.fb3aa6"]]},{"id":"f944534e.a306b","type":"ui_switch","z":"2a905234.ff37ae","name":"","label":"Record","tooltip":"","group":"42d9017c.541cb","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"control","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","x":120,"y":340,"wires":[["71ef638c.36ec4c"]]},{"id":"145360b3.dea67f","type":"change","z":"2a905234.ff37ae","name":"","rules":[{"t":"delete","p":"payload.pressure_hPa","pt":"msg"},{"t":"delete","p":"payload.model","pt":"msg"},{"t":"delete","p":"payload.maxAltitude","pt":"msg"},{"t":"delete","p":"payload.sealevelPressure","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":260,"wires":[["18cc5a51.69ab96"]]},{"id":"71ef638c.36ec4c","type":"gate","z":"2a905234.ff37ae","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":350,"y":260,"wires":[["2af56a82.fb3aa6"]]},{"id":"dbba3f63.157e6","type":"change","z":"2a905234.ff37ae","name":"remove data","rules":[{"t":"delete","p":"payload.temperature_C","pt":"msg"},{"t":"delete","p":"payload.temperature_F","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":260,"wires":[["8814ee17.a048"]]},{"id":"bae3406d.030ce","type":"pi-gpiod out","z":"2a905234.ff37ae","name":"release parachute","host":"localhost","port":8888,"pin":"12","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":1510,"y":640,"wires":[]},{"id":"6f2d111b.2d18f","type":"ui_button","z":"2a905234.ff37ae","name":"","group":"42d9017c.541cb","order":7,"width":0,"height":0,"passthru":true,"label":"Parachute Release","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":330,"y":660,"wires":[["b4ae6c3e.4aee"]]},{"id":"ed12e38d.aa935","type":"ui_switch","z":"2a905234.ff37ae","name":"","label":"Override Parachute","tooltip":"","group":"42d9017c.541cb","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"parachute_override","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","x":330,"y":600,"wires":[["b4ae6c3e.4aee"]]},{"id":"1c8770d.9f9538f","type":"ui_button","z":"2a905234.ff37ae","name":"","group":"42d9017c.541cb","order":8,"width":0,"height":0,"passthru":false,"label":"Parachute Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":330,"y":720,"wires":[["b4ae6c3e.4aee"]]},{"id":"b4ae6c3e.4aee","type":"gate","z":"2a905234.ff37ae","name":"","controlTopic":"parachute_override","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":750,"y":640,"wires":[["85626472.0356d8"]]},{"id":"85626472.0356d8","type":"change","z":"2a905234.ff37ae","name":"Convert servo","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":640,"wires":[["bae3406d.030ce"]]},{"id":"d787ff51.fc955","type":"function","z":"2a905234.ff37ae","name":"auto parachute","func":"\nvar altitude = msg.payload.altitude;\nvar maxAltitude = msg.payload.maxAltitude;\nvar diff = altitude - maxAltitude;\n\nvar release = false;\nif (diff < -1.0) {\n    if (altitude < msg.payload.parachute_height)\n        release = true;\n}\n\nmsg.payload = release;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":520,"wires":[["85626472.0356d8"]]},{"id":"f8967580.8136b8","type":"subflow:f9338461.666e08","z":"2a905234.ff37ae","name":"","x":500,"y":460,"wires":[[]]},{"id":"8994033c.b23f8","type":"inject","z":"2a905234.ff37ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":460,"wires":[["f8967580.8136b8"]]},{"id":"e5d874e2.85ab88","type":"ui_numeric","z":"2a905234.ff37ae","name":"","label":"Parachute Height","tooltip":"","group":"42d9017c.541cb","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"20","step":1,"x":330,"y":540,"wires":[["139c50f0.1022df"]]},{"id":"139c50f0.1022df","type":"change","z":"2a905234.ff37ae","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.parachute_height","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":540,"wires":[["d787ff51.fc955"]]},{"id":"57cb3dce.23aff4","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"telemetry","name":"telemetry","usetls":false,"tls":""},{"id":"42d9017c.541cb","type":"ui_group","z":"","name":"      Rocket Telemetry","tab":"43de4b79.ef8304","order":1,"disp":true,"width":"6","collapse":false},{"id":"43de4b79.ef8304","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]