flight_computer1.json
[{"id":"2a905234.ff37ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6b897dfa.51c7b4","type":"debug","z":"2a905234.ff37ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1630,"y":180,"wires":[]},{"id":"6f3a83.ebfc757c","type":"inject","z":"2a905234.ff37ae","name":"Timer","props":[{"p":"payload"}],"repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":260,"wires":[["71ef638c.36ec4c"]]},{"id":"2af56a82.fb3aa6","type":"Bme280","z":"2a905234.ff37ae","name":"","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":560,"y":260,"wires":[["dbba3f63.157e6"]]},{"id":"18cc5a51.69ab96","type":"influxdb out","z":"2a905234.ff37ae","influxdb":"57cb3dce.23aff4","name":"grafana","measurement":"rocket","precision":"ms","retentionPolicy":"","x":1640,"y":260,"wires":[]},{"id":"6175626d.74abac","type":"ui_button","z":"2a905234.ff37ae","name":"","group":"42d9017c.541cb","order":1,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"reset","x":130,"y":180,"wires":[["8e1364dd.7a6748"]]},{"id":"d337dac6.3148c8","type":"function","z":"2a905234.ff37ae","name":"Altitude","func":"var maxAltitude = flow.get('maxAltitude') || 0;\n\nvar payload = msg.payload;\n\nvar sealevelPressure = payload.sealevelPressure;\nvar pressure = payload.pressure_hPa; // in Si units for Pascal\n\nvar altitude = 44330.0 * (1.0 - Math.pow(pressure / sealevelPressure, 0.1903));\n\nif (altitude > maxAltitude)\n    maxAltitude = altitude;\n\nflow.set('maxAltitude', maxAltitude);\n\nmsg.payload.altitude = altitude;\nmsg.payload.maxAltitude = maxAltitude;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":260,"wires":[["48b37098.af022","145360b3.dea67f"]]},{"id":"9fae641d.a24cd8","type":"ui_gauge","z":"2a905234.ff37ae","name":"","group":"42d9017c.541cb","order":2,"width":0,"height":0,"gtype":"gage","title":"Max Altitude","label":"metres","format":"{{value | number:2 }}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1630,"y":340,"wires":[]},{"id":"48b37098.af022","type":"change","z":"2a905234.ff37ae","name":"","rules":[{"t":"move","p":"payload.maxAltitude","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":340,"wires":[["9fae641d.a24cd8"]]},{"id":"8814ee17.a048","type":"function","z":"2a905234.ff37ae","name":"Set Sea Level","func":"var payload = msg.payload;\nvar sealevelPressure = flow.get(\"sealevelPressure\") || 0.0;\n\nif (sealevelPressure == 0.0) {\n    flow.set(\"sealevelPressure\", payload.pressure_hPa);\n    msg.payload.sealevelPressure = payload.pressure_hPa;\n} else {\n    msg.payload.sealevelPressure = sealevelPressure;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":260,"wires":[["d337dac6.3148c8"]]},{"id":"8e1364dd.7a6748","type":"function","z":"2a905234.ff37ae","name":"Reset Sea Level","func":"flow.set(\"sealevelPressure\", 0.0);\nflow.set(\"maxAltitude\", 0.0);\nmsg.payload.sealevelPressure = 0.0;\nmsg.payload.maxAltitude = 0.0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":180,"wires":[["2af56a82.fb3aa6"]]},{"id":"f944534e.a306b","type":"ui_switch","z":"2a905234.ff37ae","name":"","label":"Record","tooltip":"","group":"42d9017c.541cb","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"control","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","x":120,"y":340,"wires":[["71ef638c.36ec4c"]]},{"id":"145360b3.dea67f","type":"change","z":"2a905234.ff37ae","name":"","rules":[{"t":"delete","p":"payload.pressure_hPa","pt":"msg"},{"t":"delete","p":"payload.model","pt":"msg"},{"t":"delete","p":"payload.maxAltitude","pt":"msg"},{"t":"delete","p":"payload.sealevelPressure","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":260,"wires":[["18cc5a51.69ab96"]]},{"id":"71ef638c.36ec4c","type":"gate","z":"2a905234.ff37ae","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":350,"y":260,"wires":[["2af56a82.fb3aa6"]]},{"id":"dbba3f63.157e6","type":"change","z":"2a905234.ff37ae","name":"remove data","rules":[{"t":"delete","p":"payload.temperature_C","pt":"msg"},{"t":"delete","p":"payload.temperature_F","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":260,"wires":[["8814ee17.a048"]]},{"id":"57cb3dce.23aff4","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"telemetry","name":"telemetry","usetls":false,"tls":""},{"id":"42d9017c.541cb","type":"ui_group","z":"","name":"Rocket Launcher","tab":"43de4b79.ef8304","order":1,"disp":true,"width":"6","collapse":false},{"id":"43de4b79.ef8304","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]